.appearances {
    &__item {
        display: block;
        text-align: center;
        text-decoration: none;
        width: 150px;

        @media(min-width: $desktop-min) {
            width: 200px;
        }

        &:hover {
            .appearances__poster {
                outline-color: $yellow;

                img {
                    filter: none;
                    transform: scale(1.05);
                }
            }
        }
    }

    &__poster {
        border-radius: 5px;
        box-shadow: 0 2px 4px 2px rgba(0, 0, 0, 0.1);
        margin-bottom: 1rem;
        outline: 4px solid transparent;
        overflow: hidden;
        padding-top: 145%;
        position: relative;
        transition: outline-color 0.2s ease-in-out;

        img {
            filter: grayscale(0.5);
            height: 100%;
            left: 0;
            object-fit: cover;
            object-position: bottom;
            position: absolute;
            top: 0;
            transition-duration: 0.2s;
            transition-property: filter, transform;
            transition-timing-function: ease-in-out;
            width: 100%;
        }
    }

    &__name {
        font-weight: 500;
        text-transform: uppercase;
    }

    &__release-date {
        font-size: small;
        vertical-align: super;
    }

    &__list {
        display: flex;
        flex-wrap: wrap;
        margin: 0 -0.5rem;

        &.flickity-enabled {
            display: block;
            padding-bottom: 80px;
        }

        .flickity-viewport {
            --fade-mask: linear-gradient(to right, rgba(0 0 0 / 0%), rgba(0 0 0 / 100%) 10%, rgba(0 0 0 / 100%) 90%, rgba(0 0 0 / 0%));
            mask: var(--fade-mask);
        }

        &.is-start {
            .flickity-viewport {
                --fade-mask: linear-gradient(to right, rgba(0 0 0 / 100%) 90%, rgba(0 0 0 / 0%));
            }
        }

        &.is-end {
            .flickity-viewport {
                --fade-mask: linear-gradient(to right, rgba(0 0 0 / 0%), rgba(0 0 0 / 100%) 10%);
            }
        }

        .flickity-slider {
            padding: 4px 0;
        }

        .flickity-button {
            &:focus {
                box-shadow: none;
            }

            &:hover {
                background-color: $yellow;
            }
        }

        .flickity-prev-next-button {
            background-color: $light-grey;
            border-radius: 50%;
            bottom: 0;
            top: unset;
            transform: none;
            transition-duration: 0.2s;
            transition-property: background-color, opacity;
            transition-timing-function: ease-in-out;

            &.previous {
                left: 0;
            }

            &.next {
                right: 0;
            }
        }

        .flickity-page-dots {
            bottom: 0;
            left: 50px;
            right: 50px;
            width: auto;
        }

        .flickity-page-dot {
            background-color: $black-80pct-transparent;
            border-radius: 2em;
            height: 8px;
            margin: 0 5px;
            transition: background-color 0.2s ease-in-out;
            width: 20px;

            &:focus {
                box-shadow: none;
            }

            &:hover {
                background: $white;
            }

            &.is-selected {
                background-color: $yellow;
            }
        }
    }

    &__wrapper {
        padding: 0 0.5rem;
    }
}
