.breadcrumbs {
    align-items: center;
    color: $dark-grey;
    cursor: default;
    display: inline-flex;
    font-size: 0.8rem;
    font-weight: 500;
    margin-bottom: 1.5rem;

    &__divider {
        margin: 0 0.5rem;
    }

    &__link {
        color: currentColor;
        text-decoration: none;
        transition: color 0.2s ease-in-out;

        &:hover {
            color: $yellow;
        }
    }

    &__text {
        font-weight: bold;
    }
}
