.page-wrapper--home-page {
    .intro {
        align-items: center;
        animation-delay: 5s;
        animation-duration: 1s;
        animation-fill-mode: forwards;
        animation-name: a-long-time-ago-bg;
        animation-timing-function: ease-in-out;
        background-color: #070707;
        display: flex;
        height: 100vh;
        justify-content: center;
        left: 0;
        padding: 1rem;
        position: fixed;
        top: 0;
        user-select: none;
        width: 100%;
        z-index: 2;

        &::after {
            animation-duration: 5s;
            animation-fill-mode: forwards;
            animation-name: a-long-time-ago-progress;
            animation-timing-function: linear;
            background: $yellow;
            bottom: 0;
            content: '';
            display: block;
            height: 4px;
            position: absolute;
            right: 0;
            width: 100%;
        }

        &__title {
            animation-duration: 6s;
            animation-fill-mode: forwards;
            animation-name: a-long-time-ago;
            animation-timing-function: ease-in-out;
            color: $intro-blue;
            font-family: $font-family-common;
            font-size: 2.25rem;
            font-weight: normal;
            margin: 0;
            text-align: left;
            text-transform: none;
        }

        &__skip-button {
            color: $light-grey;
            cursor: pointer;
            font-size: 2rem;
            line-height: 2rem;
            position: absolute;
            right: 2rem;
            text-transform: uppercase;
            top: 2rem;
            transition: color 0.2s ease-in-out;
            width: 2rem;

            &:hover {
                color: $yellow;
            }
        }
    }

    @keyframes a-long-time-ago-bg {
        0% {
            clip-path: circle(100% at 50% 50%);
        }

        100% {
            clip-path: circle(0% at 50% 50%);
            display: none;
        }
    }

    @keyframes a-long-time-ago-progress {
        0% {
            width: 100%;
        }

        100% {
            width: 0;
        }
    }

    @keyframes a-long-time-ago {
        0% {
            opacity: 0;
        }

        30% {
            opacity: 1;
        }

        70% {
            opacity: 1;
        }

        100% {
            opacity: 0;
        }
    }

    .explore {
        .pagination__button {
            transition-property: background-color, color, transform;
        }
    }

    h2 {
        &:last-child {
            margin: 0;
        }

        .rogue-icon {
            margin-right: -0.25rem;
        }
    }

    .factions-selector {
        align-items: start;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin: 0 -0.5rem;
        text-align: center;

        &__item {
            align-items: center;
            color: $black;
            display: flex;
            flex-direction: column;
            justify-content: center;
            margin: 0 0 1rem;
            padding: 0 0.5rem;
            position: relative;
            text-decoration: none;
            transition: none;
            width: 50%;

            @media(min-width: $desktop-min) {
                margin: 0 0 2.5rem;
                width: 20%;
            }

            @media(min-width: $desktop-max) {
                width: 11.1111111111%;

                &:hover {
                    .factions-selector__emblem {
                        transform: scale(1.1);
                    }
                }
            }

            &:hover {
                color: $blue;

                .factions-selector__emblem {
                    filter: none;
                }
            }
        }

        &__emblem {
            filter: grayscale(0.5);
            flex-shrink: 0;
            height: 5rem;
            margin-bottom: 1rem;
            transition-duration: 0.2s;
            transition-property: filter, transform;
            transition-timing-function: ease-in-out;
            width: 100%;
        }

        &__name {
            font-weight: 500;
            line-height: 1.15;
            transition: color 0.2s ease-in-out;
        }
    }

    .appearances {
        &__title {
            color: $dark-grey;
            margin-bottom: 1rem;
            text-align: left;
        }

        &__wrapper {
            margin-bottom: 1rem;
            width: 50%;

            @media(min-width: $desktop-min) {
                width: 25%;
            }

            @media(min-width: $desktop-max) {
                width: 20%;
            }
        }

        &__item {
            width: 100%;

            &:hover {
                color: $blue;
            }
        }
    }
}
