.ts-wrapper {
    font-size: 1rem;
    position: relative;

    .ts-control {
        align-items: center;
        background-color: $white;
        border-radius: 1rem;
        cursor: pointer;
        display: flex;
        justify-content: start;
        outline: 4px solid transparent;
        overflow: hidden;
        position: relative;
        transition-duration: 0.2s;
        transition-property: background-color, border-color, outline-color;
        transition-timing-function: ease-in-out;
    }

    &:hover {
        .ts-control {
            outline-color: $yellow;
        }
    }

    &.focus {
        .ts-control {
            outline-color: $yellow;

            input {
                cursor: initial;
            }
        }
    }

    .clear-button {
        border-radius: 5px;
        cursor: pointer;
        display: none;
        font-size: 1.2rem;
        height: 1.2rem;
        line-height: 0.8rem;
        margin: 0;
        position: absolute;
        right: 0.4rem;
        text-align: center;
        top: 50%;
        transform: translateY(-50%);
        transition: 0.2s ease-in-out;
        transition-property: background-color, color;
        width: 1.2rem;

        &:hover {
            background-color: $yellow;
            color: $black;
        }
    }

    input {
        background: none;
        border: 0;
        color: $black;
        cursor: pointer;
        flex: 1 0 30%;
        font-size: 1rem;
        line-height: 1;
        min-width: auto;
        padding: 0.4rem 0.8rem;
        position: relative;
        text-overflow: ellipsis;
        z-index: 1;

        &::placeholder {
            color: $dark-grey;
            transition: color 0.2s ease-in-out;
        }

        &[type=checkbox] {
            display: none;
        }
    }

    &.has-items {
        .ts-control {
            padding: 0.4rem 0 0;
        }

        input {
            margin: 0 0 0.3rem 0.4rem;
            padding: 0;
        }

        .clear-button {
            display: block;
        }
    }

    &.plugin-clear_button {
        .ts-control {
            padding-right: 2rem;
        }
    }

    .item {
        align-items: center;
        background-color: $yellow;
        border-radius: 1rem;
        color: $black;
        font-weight: 500;
        margin: 0 0 0.3rem 0.4rem;
        overflow: hidden;
        padding: 0 1.5rem 0 0.4rem;
        position: relative;
        text-overflow: ellipsis;
        white-space: nowrap;

        &--dummy {
            flex-shrink: 0;
            padding-right: 0.4rem;
        }

        &:first-child {
            margin-left: 0;
        }

        .remove {
            height: 100%;
            margin-left: 0.2rem;
            padding: 0 0.4rem;
            position: absolute;
            right: 0;
            text-decoration: none;
            top: 0;
            transition: 0.2s ease-in-out;
            transition-property: background-color, color;

            &:hover {
                background-color: $black;
                color: $yellow;
            }
        }
    }

    .ts-dropdown {
        background-color: $light-grey;
        border-radius: 1rem;
        border-top: 0;
        box-shadow: 0 50px 100px 0 $black-80pct-transparent;
        line-height: 1.2;
        overflow: hidden;
        position: absolute;
        top: 100%;
        transform: translateY(4px);
        width: 100%;
        z-index: 1000;

        .ts-dropdown-content {
            max-height: 13rem;
            overflow: hidden auto;
            scroll-behavior: smooth;
        }

        .optgroup {
            margin-bottom: 0.5rem;

            &:last-child {
                margin-bottom: 0;
            }

            .option {
                &:last-child {
                    margin-bottom: 0;
                }
            }
        }

        .optgroup-header {
            color: $dark-grey;
            font-family: $font-family-title;
            font-weight: 500;
            padding: 0.4rem;
        }

        .option {
            cursor: pointer;
            padding: 0.4rem 0.8rem 0.4rem 2rem;
            position: relative;
            transition: 0.2s ease-in-out;
            transition-property: background-color, color;

            &:nth-child(even) {
                background-color: $light-grey-alt;
            }

            &:hover {
                background-color: $yellow;
                color: $black;
            }

            &::before,
            &::after {
                content: '';
                display: block;
                position: absolute;
            }

            &::before {
                border: 2px solid $black-50pct-transparent;
                border-radius: 0.25rem;
                height: 0.8rem;
                left: 0.6rem;
                top: 0.6rem;
                transition: background-color 0.2s ease-in-out;
                width: 0.8rem;
            }

            &::after {
                background-color: $yellow;
                border-radius: 0.1rem;
                display: none;
                height: 0.5rem;
                left: 0.75rem;
                top: 0.75rem;
                transition: background-color 0.2s ease-in-out;
                width: 0.5rem;
            }

            &.selected {
                color: $blue;

                &:hover {
                    color: $black;
                }

                &::before {
                    background-color: $dark-grey;
                }

                &::after {
                    display: block;
                }
            }
        }

        .no-results {
            padding: 0.2rem 0.5rem;
        }
    }
}

.ts-hidden-accessible {
    border: 0;
    overflow: hidden;
    padding: 0;
    position: absolute;
    white-space: nowrap;
    width: 0;
}
