$white: #fff;
$black: #000;
$dark-grey: #2f2f2f;
$dark-grey-alt: #555555;
$primary-grey: #e1e1e1;
$light-grey: #eaeaea;
$light-grey-alt: #dedede;
$yellow: #ecb429;
$blue: #387deb;
$intro-blue: #06e2ff;

$black-10pct-transparent: rgba(0 0 0 / 90%);
$black-50pct-transparent: rgba(0 0 0 / 50%);
$black-80pct-transparent: rgba(0 0 0 / 20%);
$black-90pct-transparent: rgba(0 0 0 / 10%);

$white-80pct-transparent: rgba(255 255 255 / 20%);
